<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="users">
	
	<select id="isExist" parameterType="java.lang.String" resultType="string">
		SELECT id 
		FROM users
		WHERE id=#{id}	
	</select>

	<insert id="insert" parameterType="usersDto">
		INSERT INTO users
		(num, id, name, pwd, email, profile, addr, regdate)
		VALUES(users_seq.NEXTVAL, #{id}, #{name}, #{pwd}, #{email}, #{profile}, #{addr}, SYSDATE)
	</insert>
	
	<select id="getData" parameterType="string" 
		resultType="usersDto">
		SELECT id, pwd, email, profile, regdate
		FROM users
		WHERE id=#{id}
	</select>
	
</mapper>




