	#full
	{
		background: #fff;
	}
	#main{
		background: #fc9091;
	}
	#openchat{
	background: #abd788;
	width:200px;
	height:800px;
	display:inline-block;
	border: solid 1px #EEE;
	}
	#textbox{
		  border-radius: 20px;
		  padding: 8px 15px;
		  margin-top: 5px;
		  margin-bottom: 5px;
		  display: inline-block;
	}
	
	.occomment{
		  color: white;
		  margin-left: 25%;
		  background: linear-gradient(to bottom, #00D0EA 0%, #0085D1 100%);
		  background-attachment: fixed;
		  position: relative;
	}